/* .box1 {
    width: 732px;
    height: 518px;
    position: relative;
}

.box2 {
    width: 625px;
    height: 632px;
    position: absolute;
    top: 400px;
    left: 400px;
} */

.v1 {
    background-color: rgb(238, 256, 55);
}

.a1 {
    font-size: 70px;
}